.d-none {
    display: none!important;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}

.game-cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    border: 2px solid #ff66cc;
    color: rgb(216, 93, 185);
}